<template name="LayoutCliente">

	{{#if currentUser}}

		{{#if isInRole 'gerente' 'Administracion'}}

				{{#if Template.subscriptionsReady}}

				{{>Administrador}}

				{{else}}
					{{>Loader}}
				{{/if}}
		{{else}}

			{{#if Template.subscriptionsReady}}

				{{>Cliente}}
			{{else}}
				{{>Loader}}
			{{/if}}


		{{/if}}


	{{else}}
		{{>Login}}
	{{/if}}


</template>

<template name="Cliente">
	{{>TopMenuUsuario}}
	<main class="cd-main-content" id="{{monitor}}">
		{{>LeftMenuEmpresa}}
		{{>Template.dynamic template=cliente}}
	</main>
</template>

<template name="Administrador">
	{{>TopMenuUsuario}}
	<main class="cd-main-content">
		{{>LeftMenuAdministrador}}
		{{> Template.dynamic template=administrador}}
	</main>
</template>
