<template name="LayoutCliente">

	{{#if currentUser}}





		{{#if isInRole 'gerente' 'Administracion'}}

				{{#if Template.subscriptionsReady}}

				{{>Administrador}}

				{{else}}
					{{>Loader}}
				{{/if}}

		{{else}}

		{{#if isInRole 'soporte' 'Administracion'}}
			{{#if Template.subscriptionsReady}}

			{{>Administrador}}

			{{else}}
				{{>Loader}}
			{{/if}}

		{{else}}

		{{#if isInRole 'monitoreo' 'Administracion'}}
			{{#if Template.subscriptionsReady}}

			{{>Administrador}}

			{{else}}
				{{>Loader}}
			{{/if}}

			{{else}}
			{{#if Template.subscriptionsReady}}

				{{>Cliente}}
			{{else}}
				{{>Loader}}
			{{/if}}

		{{/if}}

		{{/if}}




		{{/if}}


	{{else}}
		{{>Login}}
	{{/if}}


</template>

<template name="Cliente">
	{{>TopMenuUsuario}}
	<main class="cd-main-content" id="{{monitor}}">
		{{>LeftMenuEmpresa}}
		{{>Template.dynamic template=cliente}}
	</main>
</template>

<template name="Administrador">

	{{#if isInRole 'monitoreo' 'Administracion'}}
	{{>TopMenuUsuario}}
	<main class="cd-main-content">
		{{>LeftMenuAdministrador}}
	{{>adminMapaCliente}}
	</main>
	{{else}}
	{{>TopMenuUsuario}}
	<main class="cd-main-content">
		{{>LeftMenuAdministrador}}
		{{> Template.dynamic template=administrador}}
	</main>
	{{/if}}


</template>
